<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">
            LLegaste al fin del Internet
        </h1>
        <hr/>
        <a class="btn btn-outline-success" asp-controller="Peliculas" asp-action="Index">Inicio</a>
    </div>
</div>
